.post-topic {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: 100vh;
    //the page moves with your dynamically when you make it smaller or larger
    width: 66vw;

    display: grid;
    align-content: space-around;
    justify-items: center;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;

@import './search-bar.scss';